<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Field Management System user interface for Robostorm Robotics Battlebots competition">
  <meta name="author" content="Andrew Hollabaugh, Ismail Mansuri, John Brereton, Logan Grief, and Tim Hollabaugh">

  <title>Robostorm FMS</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Field Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="matchPlay">Match Play
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="robotManager">Robot Manager</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="eventManager">Event Manager</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="scoring">Scoring</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="settings">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron" align="center">
    <h3 class="display-4">Field Control</h3><p></p>
    <button type="button" class="btn btn-success btn-lg" onClick="startClicked()">Start Match</button>
    <button type="button" class="btn btn-secondary btn-lg" onClick="pausematch">Pause Match</button>
    <button type="button" class="btn btn-danger btn-lg" onClick="stopClicked()">End Match</button>
    <button type="button" class="btn btn-warning btn-lg" onClick="stopClicked()">Field Reset</button>
    <button type="button" class="btn btn-warning btn-lg" onClick="createTable()">Create Table</button>
    <h5 id="gameMode"></h5>
    <h5 id="countdown"></h5>
    <br>
    <h3 class="display-4">Robot Control</h3>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col" colspan="2" class="bg-danger">Red</th>
          <th scope="col" colspan="2" class="bg-primary">Blue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-danger">
            Robot 1<br>
            <div id="robot1State">Default State</div>
            <div id="robot1Mode">Default Mode</div>
          </td>
          <td class="table-danger"><button type="button" class="btn btn-danger btn-lg" onClick="r1StopClicked()">STOP</button></td>
          <td class="table-primary">
            Robot 3<br>
            <div id="robot3State">Default State</div>
            <div id="robot3Mode">Default Mode</div>
          </td>
          <td class="table-primary"><button type="button" class="btn btn-primary btn-lg" onClick="r3StopClicked()">STOP</button></td>
        </tr>
        <tr>
          <td class="table-danger">
            Robot 2<br>
            <div id="robot2State">Default State</div>
            <div id="robot2Mode">Default Mode</div>
          </td>
          <td class="table-danger"><button type="button" class="btn btn-danger btn-lg" onClick="r2StopClicked()">STOP</button></td>
          <td class="table-primary">
            Robot 4<br>
            <div id="robot4State">Default State</div>
            <div id="robot4Mode">Default Mode</div>
          </td>
          <td class="table-primary"><button type="button" class="btn btn-primary btn-lg" onClick="r4StopClicked()">STOP</button></td>
        </tr>
      </tbody>
    </table>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#matchSchedule">Match Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#scoring">Scoring</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="matchSchedule">...</div>
      <div class="tab-pane container fade" id="scoring">...</div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- SocketIO JS -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
          socket.emit('my event', {data: 'I\'m connected!'});
      });
      function startClicked(){
			  socket.emit('startClicked');
      }

  </script>

</body>

</html>