<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Field Management System user interface for Robostorm Robotics Battlebots competition">
  <meta name="author" content="Logan Grief, John Brereton, and Ismail Mansuri">

  <title>Robostorm FMS</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Field Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="match-play">Match Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="robot-manager">Robot Manager</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="event-manager">Event Manager</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="scoring">Scoring
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="settings">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="jumbotron" align="center">
    <h3 class="display-4">Score Entry</h3>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col" colspan="2" class="bg-danger">Red</th>
          <th scope="col" colspan="2" class="bg-primary">Blue</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-danger">
            <button type="button" class="btn btn-danger btn-lg" onClick="redCornerBalloon1Clicked()">
              <p>Upper Left Corner</p>
              <img src="\static\assets\1red1.png" width="100" id="redCornerBalloon1Image">
            </button>
          </td>
          <td class="table-danger">
            <button type="button" class="btn btn-danger btn-lg" onClick="redRobot1BalloonClicked()">
              <p id="redRobot1Name">Robot1</p>
              <img src="\static\assets\2red2.png" width="100" id="redRobot1BalloonImage">
            </button>
          </td>
          <td class="table-primary">
              <button type="button" class="btn btn-primary btn-lg" onClick="blueRobot1BalloonClicked()">
              <p id="blueRobot1Name">Robot3</p>
              <img src="\static\assets\2blue2.png" width="100" id="blueRobot1BalloonImage">
              </button>
          </td>
          <td class="table-primary">
              <button type="button" class="btn btn-primary btn-lg" onClick="blueCornerBalloon1Clicked()">
              <p>Upper Right Corner</p>
              <img src="\static\assets\1blue1.png" width="100" id="blueCornerBalloon1Image">
              </button>
          </td>
        </tr>
        <tr>
          <td class="table-danger">
            <button type="button" class="btn btn-danger btn-lg" onClick="redCornerBalloon2Clicked()">
              <p>Lower Left Corner</p>
              <img src="\static\assets\1red1.png" width="100" id="redCornerBalloon2Image">
            </button>
          </td>
          <td class="table-danger">
            <button type="button" class="btn btn-danger btn-lg" onClick="redRobot2BalloonClicked()">
              <p id="redRobot2Name">Robot2</p>
              <img src="\static\assets\2red2.png" width="100" id="redRobot2BalloonImage">
            </button>
          </td>
          <td class="table-primary">
              <button type="button" class="btn btn-primary btn-lg" onClick="blueRobot2BalloonClicked()">
              <p id="blueRobot2Name">Robot4</p>
              <img src="\static\assets\2blue2.png" width="100" id="blueRobot2BalloonImage">
              </button>
          </td>
          <td class="table-primary">
              <button type="button" class="btn btn-primary btn-lg" onClick="blueCornerBalloon2Clicked()">
              <p>Upper Right Corner</p>
              <img src="\static\assets\1blue1.png" width="100" id="blueCornerBalloon2Image">
              </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p></p>

    <!--Penalties Table-->
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col" colspan="3" class="bg-danger">Red Penalties</th>
          <th scope="col" colspan="3" class="bg-primary">Blue Penalties</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-danger">
            <button type="button" class="btn btn-danger btn-lg" onClick="socket.emit('redPenaltyDecrease');">
              -
            </button>
          </td>
          <td class="table-danger">
            <h4><span class="badge badge-danger" id='redPenaltyCounter'>0</span></h4>
          </td>
          <td class="table-danger">
            <button type="button" class="btn btn-danger btn-lg" onClick="socket.emit('redPenaltyIncrease');">
              +
            </button>
          </td>
          <td class="table-primary">
            <button type="button" class="btn btn-primary btn-lg" onClick="socket.emit('bluePenaltyDecrease');">
              -
            </button>
          </td>
          <td class="table-primary">
            <h4><span class="badge badge-primary" id='bluePenaltyCounter'>0</span></h4>
          </td>
          <td class="table-primary">
            <button type="button" class="btn btn-primary btn-lg" onClick="socket.emit('bluePenaltyIncrease');">
              +
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- JS -->
  <script src="/static/js/scoring.js"></script>


  </script>

  <!-- SocketIO JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
          socket.emit('my event', {data: 'I\'m connected!'});
      });
      function redRobot1BalloonClicked(){
        socket.emit('redRobot1BalloonClicked');
      }
      function redRobot2BalloonClicked(){
        socket.emit('redRobot2BalloonClicked');
      }
      function blueRobot1BalloonClicked(){
        socket.emit('blueRobot1BalloonClicked');
      }
      function blueRobot2BalloonClicked(){
        socket.emit('blueRobot2BalloonClicked');
      }
      function redCornerBalloon1Clicked(){
        socket.emit('redCornerBalloon1Clicked');
      }
      function redCornerBalloon2Clicked(){
        socket.emit('redCornerBalloon2Clicked');
      }
      function blueCornerBalloon1Clicked(){
        socket.emit('blueCornerBalloon1Clicked');
      }
      function blueCornerBalloon2Clicked(){
        socket.emit('blueCornerBalloon2Clicked');
      }
      function decreaseRedPenalty(){
        socket.emit('penaltyChange', {'team':'redPenalty', 'value' : '-1'});
      }
      

      //function balloonClicked(id){
      //  socket.emit('balloonClicked', {'balloonID' : id});
        //document.getElementById("robot1State").innerHTML = "TEST";
      //}
      
      socket.on('updateImage', function(data){
        var photoName = '/static/assets/' + data.balloonNum + data.color + data.value + '.png';
        //var balloonIDString = data.balloonID + 'Image';
        //document.getElementById("robot1State").innerHTML = photoName;
        document.getElementById(data.balloonID).src = photoName;
      })

      socket.on('setNames', function(data){
        document.getElementById('redRobot1Name').innerHTML = data.red1Name;
        document.getElementById('redRobot2Name').innerHTML = data.red2Name;
        document.getElementById('blueRobot1Name').innerHTML = data.blue1Name;
        document.getElementById('blueRobot2Name').innerHTML = data.blue2Name;
      })

      socket.on('setPenalties', function(data){
        document.getElementById('redPenaltyCounter').innerHTML = data.red;
        document.getElementById('bluePenaltyCounter').innerHTML = data.blue;
      })


      

  </script>
</body>

</html>
